<br>
<h3 class="text-center"> View Customer Details</h3>
<br>
<div>
    <div>
        <label> <b> First Name: </b></label> {{customer.firstName}}
    </div>
    <div>
        <label> <b> Last Name: </b></label> {{customer.lastName}}
    </div>
    <div>
        <label> <b> User Name: </b></label> {{customer.userName}}
    </div>
    <div>
        <label> <b> Email Id: </b></label> {{customer.emailId}}
    </div>
    <div>
        <label> <b> Phone No: </b></label> {{customer.phoneNo}}
    </div>
    <div>
        <label> <b> City: </b></label> {{customer.city}}
    </div>
</div>
