<br>
<h3 class="text-center"> View Product Details</h3>
<br>
<div>
    <div>
        <label> <b> Product Name : </b></label> {{product.product}}
    </div>
    <div>
        <label> <b> Brand Name : </b></label> {{product.brand}}
    </div>
    <div>
        <label> <b> Model Name : </b></label> {{product.model}}
    </div>
    <div>
        <label> <b> Product Price :</b></label> {{product.price}}
    </div>
    <div>
        <!--<label> <b> Created DateTime : </b></label> {{product.createdDateTime|date: 'YYYY-MM-dd HH:mm:ss'}}-->
        <label> <b> Created DateTime : </b></label> {{product.createdDateTime}}
    </div>
    <div>
        <!--<label> <b> Updated DateTime: </b></label> {{product.updatedDateTime|date: 'YYYY-MM-dd HH:mm:ss' }}-->
        <label> <b> Updated DateTime: </b></label> {{product.updatedDateTime}}
    </div>
</div>

