<div>
    <h5 class="text-center"> Products List</h5>
    <table class = "table table-striped">
        <thead>
            <tr>
                <th> Product</th>
                <th> Brand </th>
                <th> Model </th>
                <th> Price </th>
                <th> Actions </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let product of products" >
                <td> {{ product.product }} </td>
                <td> {{ product.brand }} </td>
                <td> {{ product.model }} </td>
                <td> {{ product.price }} </td>
                <td> 
                    <button (click) = "updateProduct(product.id)" class = "btn btn-warning"> Edit</button>
                    <button (click) = "deleteProduct(product.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
                    <button (click) = "productDetails(product.id)" class = "btn btn-success" style="margin-left: 10px"> View</button>          
                </td>
            </tr>
        </tbody>
        <mat-paginator
        [length]="totalElements"
        [pageSize]="size"
        [pageSizeOptions]="[7, 12, 22]"    
        (page)="onPageChange($event)">
      </mat-paginator>
    </table>
    </div>
    